.common-form {
  position: relative;
  height: 100%;
}

.common-form.bg-image {
  background-image: url(../img/bg_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.common-form.bg-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.white-box {
  position: relative;
  padding: 30px 50px;
  text-align: center;
  min-height: 420px;
  max-height: 420px;
  border-radius: 0 20px 20px 0;
}

form {
  padding: 0px 20px;
}

.white-box.left-side {
  border-radius: 20px 0 0 20px;
}

.white-box.left-side ul li a {
  text-decoration: none;
}

.white-box.left-side ul li a i span {
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

.white-box img {
  width: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.white-box .social li a i {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  margin: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-box .or p {
  position: relative;
}

.white-box .or p:before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 12px;
  width: 45%;
  height: 1px;
}

.white-box .or p:after {
  content: "";
  position: absolute;
  right: 0;
  margin-top: 12px;
  width: 45%;
  height: 1px;
}

.text-box {
  margin: 80px auto 40px auto;
  padding: 50px;
  min-height: 411px;
}

.text-box p {
  font-size: 20px;
}

.text-box p:first-child {
  margin-bottom: 30px;
}

.white-box form {
  min-width: 300px;
}

.white-box form h5.logo {
  margin-bottom: 25px;
}

.white-box form h4 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.reg-form .white-box form h4 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.forget-form .white-box form h4 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}

.white-box form .form-control {
  margin-bottom: 0;
  border-radius: 10px;
  font-size: 14px;
}

.white-box .form-group {
  margin-top: 20px;
}

.white-box form .custom-control-label {
  margin: 0px 0;
  font-size: 14px;
}

.white-box .info li {
  margin: 5px 20px 0 20px;
  font-size: 13px;
}

.white-box .info li a {
  margin: 10px 0;
  font-size: 13px;
}

.white-box .info li .btn {
  margin-bottom: 0px;
  font-size: 13px;
}

.white-box .new-acc {
  margin: 5px 0;
  font-size: 13px;
}

.white-box a.sign-in-link {
  font-size: 13px;
}

.white-box .btn {
  width: 100%;
  text-align: center;
  padding: 5px 40px;
}

.white-box p.new-acc a:hover {
  text-decoration: underline;
}

.f-btns li a, .f-btns li button {
  font-weight: 600;
  padding: 5px 30px;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 10px 0;
  border: unset;
}

.form-links li p {
  font-size: 14px;
}

.form-links li.already-reg p {
  margin: -5px 0 20px 0;
}

footer p {
  padding: 20px 0;
  letter-spacing: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

footer span {
  font-weight: 600;
  font-style: italic;
}

.reg-form .white-box {
  position: relative;
}

.reg-form form .form-control {
  margin-bottom: 15px;
}

ol.forgot-info {
  padding-left: 20px;
}

.forgot-info li p {
  font-size: 14px;
}